<% provide(:title, "Home") %>

<div>
<div class="lander">
<p class="center" style="display:;height:100px;width:100%;"><%= image_tag('lagos-night.png', width: "100% !important") %></p>
  <div class="col-xs-3 line"><hr></div>
  <div class="col-xs-6 logo">
    <h1 style="color:#fff;font-size:48pt;">
      Lasvue | <small style="color:#fff;">A View of Lagos</small>
    </h1>
  </div>
  <div class="col-xs-3 line"><hr></div>
</div>
</div>
<p id="p1" style="color:#fff;">Explore The Centre of Excellence.</p>
</div>
<div style="height:160px;">

</div>

<div class="panel container">
  <!-- Brief description -->
  <h1>Explore Beautiful, Vibrant, Prosperous Lagos<br>
    <small><p class="text-left">
      Find useful, collated, and beautifully rendered information regarding Lagos State
      From State-Service centres to population count, Lasvue is full of all sorts of relevant information regarding Lagos State government and state provided services. Explore Lasvue if you're a tourist, business looking to stake your claim in Lagos, or if you're a curious student.</p>
    </small>
  </h1>
</div>

<div class="container">
  <!-- columns of information -->
  <div class="row">
    <div class="col-sm-6 col-md-3 alert alert-warning">
      <div class="">
        <i class="fa fa-users fa-5x"></i> 
        <div class="caption">
          <h3>Officials Contact</h3>
          <p>...</p>
          <p><a href="<%= officials_index_path %>" class="btn btn-warning" role="button">Explore</a></p>
        </div>
      </div>
    </div>

  <div class="col-sm-6 col-md-3 alert alert-info">
    <div class="">
      <i class="fa fa-bank fa-5x"></i> 
      <div class="caption">
        <h3>Service Locations</h3>
        <p>...</p>
        <p><a href="<%= services_index_path %>" class="btn btn-info" role="button">Learn</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3 alert alert-success">
    <div class="">
      <i class="fa fa-file fa-5x"></i> 
      <div class="caption">
        <h3>Government Forms</h3>
        <p>...</p>
        <p><a href="<%= forms_path %>" class="btn btn-success" role="button">Access</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3 alert alert-danger">
    <div class="">
      <i class="fa fa-ambulance fa-5x"></i> 
      <div class="caption">
        <h3>Emergency Information</h3>
        <p>...</p>
        <p><a href="<%= emergency_responses_path %>" class="btn btn-danger" role="button">Find</a></p>
      </div>
    </div>
  </div>
  </div>
</div>