<% provide(:title, 'Regions | Divisions') %>
<div id="header">
  <h1>Divisions of Lagos State<br>
    <small>And their Local Areas</small>
  </h1>
</div>

<div class="container">
  <% @divisions.each do |division| %>
    <h1 style="text-align:left" id="divisions" name="divisions"><%= division.name %></h1>
    
    <% if division.local_areas.exists? %>
    
    <div style="display:" id="lgas" name="lgas">
    <button class="btn btn-<%= @colors.sample %>" type="button">
      <h2 style="text-align:left;color:white;">Local Governments Areas and Local Council Development Areas <span class="badge"> <%= division.local_areas.size %></span></h2></button><hr/>
    <% division.local_areas.each do |lga| %>
    
    <p style="text-align:left;">
      <%= lga.name %>
    </p>
    <% end %>
    
    <% end %>
    </div>
    
    <div style="display:" id="lgas" name="lgas">
    <button class="btn btn-<%= @colors.sample %>" type="button">
      <h2 style="text-align:left;color:white;">Council of Obas and Chiefs  <span class="badge"> <%= division.chieftancy_titles.size %></span></h2></button><hr/>
    <% division.chieftancy_titles.each do |oba| %>
    
    <p style="text-align:left;">
      <%= oba.title %>
    </p>
    <% end %>
    
    </div>
  <% end %>  
</div>