<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
 	<%= link_to "Lasvue", root_path, id: "logo" %>
 	<nav>
 	  <ul class="nav navbar-nav navbar-right">
 	    <li><%= link_to "Home", root_path %></li>
 	    <!-- Meet Lagos -->
 	     <li class="dropdown"><a href=# class=" dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Meet Lagos
 	    <span class="caret"></span></a>
 	      <ul class="dropdown-menu" role="menu" aria-lagelledby="dropdownMenuDirectory">
 	        <li role="presentation"><%= link_to "Profile of Lagos", profile_path, role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Location-Extent", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Relief", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Demography", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Megacity", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Meet the People", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Divisions", divisions_path,role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Economy", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Tourist Sites", tourism_path, role: "menuitem", tabindex: "-1" %></li>
 	      </ul>
 	    </li>
 	    <!-- Directory -->
 	    <li class="dropdown"><a href="#" class=" dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">iSecretariat
 	    <span class="caret"></span></a>
 	      <ul class="dropdown-menu" role="menu" aria-lagelledby="dropdownMenuServices">
 	        <li role="presentation"><%= link_to "Executive", executive_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Legislative",  role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Judiciary",  role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Permanent Secretaries",  role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Director Generals",  role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Special Advisers",  role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Civil Service Commission",  role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Local Government Service Commission",  role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Judicial Service Commission",  role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Health Service Commission",  role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Council of Obas and Chiefs",  role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Former Governors",  role: "menuitem", tabindex: "-1" %></li>
 	      </ul>
 	    </li>
 	    <!-- Services -->
 	    <li class="dropdown"><a href="#" class=" dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Services
 	    <span class="caret"></span></a>
 	      <ul class="dropdown-menu" role="menu" aria-lagelledby="dropdownMenuServices">
 	        <li role="presentation"><%= link_to "Government Forms", forms_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Hospitals and Health Centres", health_centres_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Police Commands",  police_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Fire Stations", fire_stations_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Tax Offices", tax_offices_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Drivers License Centres and Institutes", driving_services_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Emergency Numbers", emergency_responses_path,role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Land Acquistion", land_acquisition_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Business Information", business_information_path, role: "menuitem", tabindex: "-1" %></li>

 	      </ul>
 	    </li>
 	    <li class="dropdown"><a href=# class=" dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Beyond Lagos
 	    <span class="caret"></span></a>
 	      <ul class="dropdown-menu" role="menu" aria-lagelledby="dropdownMenuBeyondLagos">
 	      	<li role="presentation"><%= link_to "National Anthem, Pledge", national_anthem_path,  role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Nigerian States and Capitals", states_and_capitals_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Federal Parastatals", federal_parastatals_path,  role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "State Liaison Offices", liaison_offices_path,  role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Banks in Nigeria", banks_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Insurance Companies in Nigeria", insurance_path,role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Pension Fund Managers", pension_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Hotels in Nigeria", hotels_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "International Agencies in Nigeria", intl_agencies_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Oil and Gas Companies in Nigeria", oil_and_gas_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Professional Bodies in Nigeria", pro_bodies_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Bilateral Chambers of Commerce and Associations", chambers_of_commerce_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Diplomatic Missions and High Commissions in Nigeria", diplomatic_missions_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Nigerian Embassies and High Commissions Overseas", embassies_overseas_path, role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "International Voltage and Dialing Codes", intl_codes_path, role: "menuitem", tabindex: "-1" %></li>
 	      </ul>
 	    </li>
 	  </ul>
 	</nav>
  </div>
</header>