<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
 	<%= link_to "Lasvue", root_path, id: "logo" %>
 	<nav>
 	  <ul class="nav navbar-nav navbar-right">
 	    <li><%= link_to "Home", root_path %></li>
 	     <li class="dropdown"><a href=# class=" dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Meet Lagos
 	    <span class="caret"></span></a>
 	      <ul class="dropdown-menu" role="menu" aria-lagelledby="dropdownMenuDirectory">
 	        <li role="presentation"><%= link_to "Profile of Lagos", profile_path, role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Location-Extent", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Relief", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Demography", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Megacity", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Meet the People", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Divisions", divisions_path,role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Economy", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Tourist Sites", role: "menuitem", tabindex: "-1" %></li>
 	      </ul>
 	    </li>
 	    <li class="dropdown"><a href=# class=" dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Directory
 	    <span class="caret"></span></a>
 	      <ul class="dropdown-menu" role="menu" aria-lagelledby="dropdownMenuDirectory">
 	        <li role="presentation"><%= link_to "Executive Council", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Legislative", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Judiciary", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "National Assembly", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "House of Assembly", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Permanent Secretaries", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Director Generals", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Special Advisers", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Civil Service Commission", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Local Government Service Commission", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Judicial Service Commission", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Health Service Commission", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Council of Obas and Chiefs", role: "menuitem", tabindex: "-1" %></li>
 	        <li role="presentation"><%= link_to "Past Governors", role: "menuitem", tabindex: "-1" %></li>
 	      </ul>
 	    </li>
 	    <li class="dropdown"><a href="#" class=" dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Services
 	    <span class="caret"></span></a>
 	      <ul class="dropdown-menu" role="menu" aria-lagelledby="dropdownMenuServices">
 	      	<li role="presentation"><%= link_to "Hospitals and Health Centres", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Police Commands", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Fire Stations", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Tax Offices", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Drivers License Centres and Institutes", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Emergency Numbers", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Land Acquistion", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Business Information", role: "menuitem", tabindex: "-1" %></li>

 	      </ul>
 	    </li>
 	    <li class="dropdown"><a href=# class=" dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Beyond Lagos
 	    <span class="caret"></span></a>
 	      <ul class="dropdown-menu" role="menu" aria-lagelledby="dropdownMenuBeyondLagos">
 	      	<li role="presentation"><%= link_to "National Athem, Pledge", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Nigerian States and Capitals", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Federal Parastatals", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "State Liaison Offices", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Banks in Nigeria", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Insurance Companies in Nigeria", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Pension Fund Managers", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Hotels in Nigeria", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "International Agencies in Nigeria", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Oil and Gas Companies in Nigeria", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Professional Bodies in Nigeria", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Bilateral Chambers of Commerce and Associations", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Diplomatic Missions and High Commissions in Nigeria", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "Nigerian Embassies and High Commissions Overseas", role: "menuitem", tabindex: "-1" %></li>
 	      	<li role="presentation"><%= link_to "International Voltage and Dialing Codes", role: "menuitem", tabindex: "-1" %></li>
 	      </ul>
 	    </li>
 	  </ul>
 	</nav>
  </div>
</header>