<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
 	<%= link_to "Lasvue", root_path, id: "logo" %>
 	<nav>
 	  <ul class="nav navbar-nav navbar-right">
 	    <li><%= link_to "Home" %></li>
 	    <li><%= link_to "Directory" %></li>
 	    <li><%= link_to "Services" %></li>
 	    <li><%= link_to "Beyond Lagos" %></li>
 	  </ul>
 	</nav>
  </div>
</header>